@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
.app {
  background-color: #111;
  font-family: "Manrope", sans-serif;
  letter-spacing: 1.5px;
}
.app::-webkit-scrollbar {
  display: none;
}
